.message-container {
    color: white;
}

.done-all {
    color: #499C54;
}

.white-icon svg {
    fill: #499C54;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: rgba(66, 66, 66, 0.98);
}

.message-icon {
    margin-left: 5px;
    margin-right: 5px;
}