<div class="blank-container">
    <div class="blank-header d-flex flex-row justify-content-between">
        <div #blankName *ngIf="blankNameRectangle">{{roundName}}</div>
        <div #blankNumber *ngIf="blankNumberRectangle">{{blank.number}}</div>
    </div>

    <div #blankItems class="items-container d-flex flex-wrap" *ngIf="blankItemsRectangle">
        <ng-container *ngFor="let item of blank.items; let i = index">
            <div class="blank-item-cell d-flex align-items-center justify-content-center"
                 [ngClass]="{
                                'right-edge': (i + 1) % columnsCount === 0,
                                'lower-edge': (columnsCount * rowsCount) - i <= columnsCount,
                                'upper-left-corner': i === 0,
                                'upper-right-corner': i === columnsCount - 1,
                                'lower-left-corner': i === (rowsCount - 1) * columnsCount,
                                'lower-right-corner': i === rowsCount * columnsCount - 1,
                             }"
                 [ngStyle]="{'width': calculateWidth(), 'height': calculateHeight()}">
                <span>{{getItemContent(item)}}</span>
            </div>
        </ng-container>
    </div>
</div>
