<div class="blank-container">
    <div class="blank-header p-4 d-flex flex-row justify-content-between">
        <div *ngIf="blankNameRectangle" [ngStyle]="calculatePosition(blankNameRectangle)">{{roundName}}</div>
        <div *ngIf="blankNumberRectangle" [ngStyle]="calculatePosition(blankNumberRectangle)">{{blank.number}}</div>
    </div>

    <div class="items-container d-flex flex-wrap p-4" *ngIf="blankItemsRectangle" [ngStyle]="calculatePosition(blankItemsRectangle)">
        <ng-container *ngFor="let item of blank.items; let i = index">
            <div class="blank-item-cell d-flex align-items-center justify-content-center"
                 [ngClass]="{
                                'right-edge': (i + 1) % columnsCount === 0,
                                'lower-edge': (columnsCount * rowsCount) - i <= columnsCount,
                                'upper-left-corner': i === 0,
                                'upper-right-corner': i === columnsCount - 1,
                                'lower-left-corner': i === (rowsCount - 1) * columnsCount,
                                'lower-right-corner': i === rowsCount * columnsCount - 1,
                             }"
                 [ngStyle]="{'width': calculateWidth()}">
                <span>{{getItemContent(item)}}</span>
            </div>
        </ng-container>
    </div>
</div>
