<mat-expansion-panel (opened)="loadArtistTracks(artist)"  [expanded]="expanded">
    <mat-expansion-panel-header [innerHTML]="artist.artistName | highlight:searchQuery">
    </mat-expansion-panel-header>
    <div *ngIf="tracksAreLoading" class="artists-spinner d-flex flex-row justify-content-center">
        <p>Loading artists...</p>
        <mat-spinner></mat-spinner>
    </div>
    <app-audio-controls *ngFor="let track of artist.audioTracks"
                        [audio-track]="track"
                        (onDelete)="deleteFromLibrary($event)"
                        [searchQuery]="searchQuery"
                        [mode]="mode"
                        (versionSelected)="onVersionSelected($event)">

    </app-audio-controls>
</mat-expansion-panel>