<div class="menu-buttons-container d-flex flex-row align-items-center justify-content-end">
    <button *ngIf="audioTrack.mode === 'edit' && showRevert"
            mat-button class="panel-button color-danger"
            (click)="cancel()"
            matTooltip="Undo changes">
        <mat-icon>replay</mat-icon>
    </button>
    <button *ngIf="(audioTrack.mode === 'view' || audioTrack.mode === 'workbench_view') && audioTrack.createdByCurrentUser"
            mat-button class="panel-button"
            (click)="switchMode()"
            matTooltip="{{audioTrack.mode === 'view' ? 'Edit artist and title' : 'Edit audio track'}}">
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="audioTrack.mode === 'edit' || audioTrack.mode === 'workbench_edit'"
            mat-button class="panel-button"
            (click)="switchMode()"
            matTooltip="{{audioTrack.mode === 'edit' ? 'Save artist and title' : 'Save audio track'}}">
        <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="audioTrack.createdByCurrentUser"
            class="panel-button"
            mat-button
            (click)="delete()"
            color="primary"
            matTooltip="Delete track from {{audioTrack.mode === 'workbench_edit' || audioTrack.mode === 'workbench_view' ? 'workbench' : 'library'}}">
        <mat-icon>highlight_off</mat-icon>
    </button>
</div>