<div class="menu-buttons-container d-flex flex-row align-items-center justify-content-end">
    <button *ngIf="audioTrack.mode === 'edit' && showRevert"
            mat-button class="panel-button color-danger"
            (click)="reset()"
            matTooltip="Undo changes">
        <mat-icon>replay</mat-icon>
    </button>
    <!--    <button *ngIf="version.mode === 'edit'"
                mat-button class="panel-button"
                (click)="cancel()"
                color="primary"
                matTooltip="Discard changes and exit edit mode">
            <mat-icon>remove_red_eye</mat-icon>
        </button>-->
    <button *ngIf="audioTrack.mode !== 'edit' && audioTrack.createdByCurrentUser"
            mat-button class="panel-button"
            (click)="setMode('edit')"
            matTooltip="Edit draft">
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="audioTrack.mode === 'edit'"
            mat-button class="panel-button color-success"
            (click)="setMode('view')"
            matTooltip="Save draft">
        <mat-icon>check_box</mat-icon>
    </button>
    <button *ngIf="audioTrack.createdByCurrentUser"
            class="panel-button"
            mat-button
            (click)="delete()"
            color="primary"
            matTooltip="Delete track from workbench">
        <mat-icon>delete</mat-icon>
    </button>
</div>