<div class="menu-buttons-container d-flex flex-row align-items-center justify-content-end">
    <button *ngIf="version.id && version.mode === 'edit'"
            mat-button class="panel-button"
            (click)="cancel()"
            matTooltip="Undo changes">
        <mat-icon>replay</mat-icon>
    </button>
<!--    <button *ngIf="version.mode === 'edit'"
            mat-button class="panel-button"
            (click)="cancel()"
            color="primary"
            matTooltip="Discard changes and exit edit mode">
        <mat-icon>remove_red_eye</mat-icon>
    </button>-->
    <button *ngIf="version.mode === 'view' && version.createdByCurrentUser"
            mat-button class="panel-button"
            (click)="setMode('edit')"
            matTooltip="Edit time bounds">
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="version.mode === 'edit'"
            mat-button class="panel-button"
            (click)="setMode('view'); save()"
            matTooltip="Save time bounds">
        <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="audioTrack.mode === 'view'"
            mat-button class="panel-button"
            (click)="addVersion()"
            matTooltip="Edit bounds (new version will be created)">
        <mat-icon> call_split</mat-icon>
    </button>
    <button *ngIf="version.createdByCurrentUser && audioTrack.versions.length > 1"
            class="panel-button"
            mat-button
            (click)="delete()"
            color="primary"
            matTooltip="Delete track from workbench">
        <mat-icon>highlight_off</mat-icon>
    </button>
</div>