.edit-input-field {
  ::ng-deep .mat-mdc-form-field-infix {
    width: auto;
  }
  font-size: 14px;
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 36px;
  }
   ::ng-deep .mat-mdc-form-field-infix {
     width: auto;
     padding-top: 10px;
     padding-bottom: 0;
   }

  ::ng-deep label {
    padding-bottom: 20px;
  }
}

:host {
  margin-top: 5px;
}
