input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.remove-condition-button {
  top: 8px;
}

.error-container {
  margin-top: -18px;
}


.arrows-container {
  width: 25px;
}

.lines-count {
  width: 120px;
  position: relative;
  margin-right: 10px;
  top: -2.5px;

  ::ng-deep .mdc-text-field {
    padding-left: 8px;
    height: 46px;
    top: 6px;
  }

  & ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 8px;
  }

  & ::ng-deep .mat-mdc-text-field-wrapper {
    height: 46px;
  }

  mat-error {
    white-space: nowrap;
  }

  & ::ng-deep .mat-mdc-form-field-error-wrapper {
    padding-left: 0;
  }

  .harder-than-previous {
    position: relative;
    left: -127px;
  }

  .easier-than-next {
    position: relative;
    left: -102px;
  }
}

.lines-strike-input {
  text-align: center;
}

.win-criterion-input {
  width: 204px;

  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    height: 46px;
  }
}