<!--<button mat-raised-button color="primary"
        class="m-2"
        (click)="saveAllBlanks()"
        [innerText]="archiveLoadInProgress ? 'Preparing pictures (' + loadPercents + '%). Please do not refresh this page' : 'Save all blanks'">
        <mat-spinner *ngIf="archiveLoadInProgress"></mat-spinner>
        Save all blanks
</button>-->
<div class="m-2 container d-flex flex-row">
    <div class="blanks-numbers-container" fxLayout="row wrap" fxLayoutAlign="start start">
        <ng-container *ngFor="let blank of roundBlankSet.blanks">
            <app-blank-miniature [blank]="blank"
                                 [clickedBlank]="clickedBlank"
                (blankHovered)="setCurrentBlank($event)"
                (blankClicked)="setClickedBlank($event)">
            </app-blank-miniature>
        </ng-container>
    </div>
    <canvas #canvas style="display: none"></canvas>
    <a #downloadLink style="display: none"></a>
    <div #scrollableContainer class="scrollable-container">
        <div #blankContainer class="blank-preview-container">
            <ng-container *ngIf="hoveredBlank">
                <app-blank [blank]="clickedBlank ? clickedBlank : hoveredBlank"
                           [strikeCriterion]="roundBlankSet.strikeCriterion"
                           [columnsCount]="roundBlankSet.columnsCount"
                           [rowsCount]="roundBlankSet.rowsCount"
                           [roundName]="roundBlankSet.round.name"
                           [blankBackground]="roundBlankSet.blankBackground"
                           [zipQuotient]="previewHeight / imageHeight"
                           (blankRendered)="captureComponentView()"
                           [ngStyle]="{'background-image': 'url(;'+ imageUrl +')'}">
                </app-blank>
            </ng-container>
        </div>
    </div>

</div>
