.blank-preview-container {
    height: 565px;
    border-radius: 5px;
    outline: 1px dashed rgb(244, 67, 54);
    margin: 1px;
    app-blank {
        height: 100%;
        display: flex;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.blanks-number-container {
    max-height: 100%;
    overflow-y: auto;
}

.container {
    max-height: 60vh;
}

.blanks-numbers-container {
    max-height: 100%;
    overflow-y: auto;
    margin-right: 3rem;
}

.scrollable-container {
    max-height: 100%;
    overflow-y: auto;
}