<mat-card class="px-2 pb-2 mb-1">
    <div class="d-flex flex-column">
        <div *ngIf="playedItem" class="d-flex flex-row justify-content-center p-3 current-track-name">
            <div>{{playedItem.artist}} - {{playedItem.title}}</div>
        </div>
        <div *ngIf="!playedItem">Round playlist is empty</div>
        <div class="d-flex justify-content-between" [ngClass]="{'round-play-buttons-container' : mode === 'play'}">
            <app-round-playback-buttons class="col-4"
                                        [round-item]="playedItem"
                                        [next-exists]="nextExists"
                                        [previous-exists]="previousExists"
                                        [isPlaying]="isPlaying"
                                        (play)="play.emit($event)"
                                        (playNext)="playNext.emit($event)"
                                        (playPrevious)="playPrevious.emit($event)"
                                        (pause)="pause.emit($event)"
                                        (stop)="stop.emit($event)">
            </app-round-playback-buttons>
            <div *ngIf="playedItem" class="playback-status col-4">{{playedItem.progressInSeconds  | timeFormat:'string'}}
                / {{playedItem.endTime - playedItem.startTime  | timeFormat:'string'}}</div>
            <app-volume-slider class="col-4">

            </app-volume-slider>
        </div>
    </div>
</mat-card>
