.next-track-loader {
    height: 24px;
}

.loader {
    height: 4px;
    width: 130px;
    --c:no-repeat linear-gradient(#c92563 0 0);
    background: var(--c),var(--c),#464646;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

app-round-playback-buttons {
    display: flex;
    align-items: center;
}

.current-track-name {
    font-size: 20px;
    color: #f44336;
}

.playback-status {
    padding-top: 13px;
    font-size: 20px;
    color: #f44336;
    text-align: center;
}