<div class="container">
    <h2>Select the bounds for {{backgroundArea.backgroundAreaType | lowercase}}:</h2>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <mat-form-field class="crop-dimension mx-2" appearance="outline">
                <mat-label>Start X position</mat-label>
                <input type="number" matInput
                       [(ngModel)]="backgroundArea.startX"
                       (keyup)="onDimensionsChange()">
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="endXExceeded()"
                        (mousedown)="incrementStartX()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="startXExceeded()"
                        (mousedown)="decrementStartX()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="crop-dimension mx-2" appearance="outline">
                <mat-label>Start Y position</mat-label>
                <input type="number" matInput
                       [(ngModel)]="backgroundArea.startY"
                       (keyup)="onDimensionsChange()">
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="endYExceeded()"
                        (mousedown)="incrementStartY()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="startYExceeded()"
                        (mousedown)="decrementStartY()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="d-flex flex-row mt-1">
            <mat-form-field class="crop-dimension mx-2" appearance="outline">
                <mat-label>Width</mat-label>
                <input type="number" matInput
                       [(ngModel)]="backgroundArea.width"
                       (keyup)="onSizeChange()">
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="widthExceeded()"
                        (mousedown)="incrementWidth()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="backgroundArea.width <= 0"
                        (mousedown)="decrementWidth()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="crop-dimension mx-2" appearance="outline">
                <mat-label>Height</mat-label>
                <input type="number" matInput
                       [(ngModel)]="backgroundArea.height"
                       (keyup)="onSizeChange()">
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="heightExceeded()"
                        (mousedown)="incrementHeight()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button class="min-width-50 h-50 p-0 arrow-button"
                        mat-button
                        matSuffix
                        [disabled]="backgroundArea.height <= 0"
                        (mousedown)="decrementHeight()"
                        (mouseup)="stopHeldChange()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

</div>
