#container {
    max-height: 80vh;
    overflow-y: auto;
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-corner {
    background-color: #464646; /* Set the background color to match the container */
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2185b;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ea4e8b;
    cursor: pointer;
}