.rounds-tabs {
  & ::ng-deep .mat-mdc-tab.mdc-tab {
    opacity: 1 !important;
    max-width: 150px;
    background-color: #464646;
    border-radius: 5px 5px 0 0;
    margin-right: 10px;
    display: flex;
    align-items: baseline;
    padding: 5px;
  }

  & ::ng-deep .tab-label-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
  }

  & ::ng-deep .mat-mdc-tab-header {
    //border: 1px solid red;
  }

  ::ng-deep mat-tab-label {
    width: 100%;
  }

  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-touch-target {
    height: 24px;
    width: 24px;
  }

  ::ng-deep .mat-mdc-tab .mdc-tab__content {
    top: -3px;
  }

  ::ng-deep mat-tab-body {
    border-radius: 5px;
    padding: 20px;
    margin-top: 5px;
    background-color: #464646;
  }
}