<mat-accordion id="container" *ngIf="content" [multi]="true" class="mb-3">
    <div *ngFor="let contentGroup of contentGroups | keyvalue">
        <mat-expansion-panel *ngIf="contentGroup.value" class="letter-range mb-3" [expanded]="expanded">
            <mat-expansion-panel-header>{{contentGroup.key.label}}</mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let letter of contentGroup.value" (opened)="loadLetterArtists(letter)" [expanded]="expanded">
                <mat-expansion-panel-header>
                    {{ letter.letter }}
                </mat-expansion-panel-header>
                <div *ngIf="artistsAreLoading" class="artists-spinner d-flex flex-row justify-content-center">
                    <p>Loading artists...</p>
                    <mat-spinner></mat-spinner>
                </div>
                <div *ngFor="let artist of letter.artists">
                    <app-library-artist
                            [artist]="artist"
                            [expanded]="expanded"
                            [searchQuery]="searchQuery"
                            [mode]="mode"
                    (onArtistDelete)="removeArtist($event)"></app-library-artist>
                </div>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </div>
</mat-accordion>


