.empty-rows-message {
    height: 60px;
    text-align: center;
    color: rgb(244, 67, 54);
}

.play-control-button {
    padding: 0;
    height: 24px;
    width: 24px;
    ::ng-deep .mat-mdc-button-persistent-ripple {
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
    }
    ::ng-deep .mat-mdc-button-ripple {
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
    }
    ::ng-deep .mat-mdc-focus-indicator {
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
    }
    ::ng-deep .mat-mdc-button-touch-target {
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 50%;
    }
    ::ng-deep .mat-icon {
        transform: scale(1.33);
        margin-right: 40px;
    }
}

.spinner-container {
    width: 64px;
    font-size: 11px;
    ::ng-deep .mat-mdc-progress-spinner {
        margin: auto;
        width: 30px !important;
        height: 30px !important;
    }
}

.load-percentage {
    text-align: center;
}

.playlist-table {
    ::ng-deep .mat-mdc-cell {
        background: none;
    }

    ::ng-deep thead {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    ::ng-deep .mdc-data-table__row {
        height: 35px;
    }

}

.close-button {
    padding: 0;
    width: 24px;
    height: 24px;
    /*::ng-deep .mat-mdc-button-ripple {
        transform: scale(0.5);
    }
    ::ng-deep .mat-mdc-focus-indicator {
        transform: scale(0.5);
    }
    ::ng-deep .mat-mdc-button-persistent-ripple {
        transform: scale(0.5);
    }*/
}
