<div class="d-flex flex-row justify-content-between create-round-container">
    <form [formGroup]="roundForm">
        <mat-form-field appearance="outline" class="round-controls-field mt-2 mb-4 game-input">
            <mat-label>Round name</mat-label>
            <input matInput formControlName="name" type="string">
        </mat-form-field>
        <app-field-size-form [fieldSizeForm] = "fieldSizeForm" [round]="round"></app-field-size-form>
        <app-win-conditions-form [winConditionsForm]="winConditionForm" [round]="round"></app-win-conditions-form>
    </form>
    <div class="d-flex flex-column playlist-group-container">
        <button mat-raised-button color="primary" class="mb-2 add-to-playlist-button" (click)="openLibrary()">
            <mat-icon>add</mat-icon>
            Add audio track(s) from library
        </button>
        <app-round-player *ngIf="round.audioTracks.length > 0"
                          [round-item]="playedItem"
                          [next-exists]="nextExists"
                          [previous-exists]="previousExists"
                          [nextTrackDownload]="nextTrackDownload"
                          (playNext)="onPlayNext()"
                          (playPrevious)="onPlayPrevious()"
                          (play)="play($event)"
                          (pause)="pause($event)"
                          (stop)="stop($event)">
        </app-round-player>
        <app-round-playlist [round]="round"
                            (playedItemChanged)="onPlayedItemChanged($event)"
                            (nextTrackDownload)="onNextTrackDownload($event)"
                            (pause)="onPauseClicked()">
        </app-round-playlist>
    </div>

</div>
