.round-controls-field {
  height: 36px;
  width: 414px;
  & ::ng-deep label {
    top: 25px !important;
  }
  & ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 8px;
  }
  & ::ng-deep .mat-mdc-text-field-wrapper {
    height: 36px;
  }
}

.playlist-group-container {
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.create-round-container {
  max-height: 60vh;
  overflow: auto;
}

app-round-playlist {
  max-height: 100%;
  overflow-y: auto;
}

.add-to-playlist-button {
  min-height: 36px;
}
