<div class="d-flex flex-row justify-content-between">
    <mat-form-field id="game-name-field" appearance="outline" class="mx-1">
        <mat-label>Enter game title:</mat-label>
        <input id="game-name-input" [(ngModel)]="game.name" matInput placeholder="Game {{currentDate() | date}}" required>
    </mat-form-field>
    <div class="ml-2 create-game-button-container d-flex flex-row">
        <button mat-raised-button color="primary" class="game-button">Save</button>
        <button mat-raised-button color="primary" class="mx-1 game-button">Cancel</button>
    </div>
</div>

<div class="rounds-tabs mt-5">
    <mat-tab-group>
        <mat-tab *ngFor="let round of game.rounds; let i = index">
            <ng-template mat-tab-label>
                <div class="tab-label-content">
                    <span class="round-name-label">{{ round.name ? round.name : 'Round ' + (i + 1)}}</span>
                    <button class="remove-round-button"
                            (click)="removeTab(i); $event.stopPropagation()" mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </ng-template>
            <app-create-round [round]="round"></app-create-round>
        </mat-tab>
        <mat-tab class="add-round" matTooltip="Add round" >
            <ng-template mat-tab-label>
                <button mat-icon-button class="add-round-button" (click)="addRound(); $event.stopPropagation()">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-template>
            <p>Click "+" to proceed</p>
        </mat-tab>
    </mat-tab-group>
</div>


