.login-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    position: absolute;
    top: 40%;
    transform: translate(-20%, 0);
}


mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

button {
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: #fff !important;
}