<div class="d-flex flex-column">
    <app-round-player *ngIf="round.audioTracks.length > 0"
                      [round-item]="playedItem"
                      [next-exists]="nextExists"
                      [previous-exists]="previousExists"
                      (playNext)="onPlayNext()"
                      (playPrevious)="onPlayPrevious()"
                      (play)="play($event)"
                      (pause)="pause($event)"
                      (stop)="stop($event)">
    </app-round-player>
    <app-round-playlist [round]="round"
                        [mode]="mode"
                        (playedItemChanged)="onPlayedItemChanged($event)"
                        (pause)="onPauseClicked()">
    </app-round-playlist>
</div>