<mat-card class="entity-card m-2">
    <mat-card-header class="d-flex flex-row justify-content-between">
        <mat-card-title>{{ game.name }}</mat-card-title>
        <div>
            <button mat-icon-button matTooltip="Start game"
                    (click)="openPreselectPopup()">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu"
                    (click)="$event.stopPropagation();"
                    matTooltip="Actions">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu" id="menu">
            <button mat-menu-item class="d-flex flex-row" (click)="manageBlanks()">
                <mat-icon class="manage-blanks">style</mat-icon>
                <span>Manage blanks</span>
            </button>
            <button *ngIf="isGameOwner"
                    mat-menu-item
                    class="d-flex flex-row"
                    (click)="editGame()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button *ngIf="isGameOwner"
                    mat-menu-item
                    class="d-flex flex-row delete-game"
                    (click)="openHistoryPopup()">
                <mat-icon>history</mat-icon>
                <span>Playback history</span>
            </button>
            <button mat-menu-item
                    class="d-flex flex-row delete-game"
                    (click)="askForDeletion()">
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-header>
    <mat-card-content class="d-flex flex-column pt-3">
        <div class="author-group">
            <div class="d-flex flex-row justify-content-between">
                <span class="game-metadata-key">Created by:</span>
                <span class="game-metadata-value">{{ game.author.username }}</span>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <span class="game-metadata-key">Created at:</span>
                <span class="game-metadata-value">{{ game.createdAt | date | dateRefine }}</span>
            </div>
        </div>
        <div class="modifier-group mt-4">
            <div *ngIf="game.lastContributor" class="d-flex flex-row justify-content-between">
                <span class="game-metadata-key">Last modified by:</span>
                <span class="game-metadata-value">{{ game.lastContributor.username }}</span>
            </div>
            <div *ngIf="game.lastContributor && game.modifiedAt" class="d-flex flex-row justify-content-between">
                <span class="game-metadata-key">Modified at:</span>
                <span class="game-metadata-value">{{ game.modifiedAt | date | dateRefine }}</span>
            </div>
        </div>
    </mat-card-content>
    <!--<mat-card-actions>
        &lt;!&ndash; Buttons here &ndash;&gt;
        <button mat-button (click)="onButtonClick('edit')">Edit</button>
        <button mat-button (click)="onButtonClick('delete')">Delete</button>
    </mat-card-actions>-->
</mat-card>