<mat-card class="mat-elevation-z8 d-flex flex-row">
    <audio #defaultAudio>
        <source [src]="audioTrack.url" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <mat-card-content class="w-100">
        <div class="d-flex flex-column editable-fields col-12">
            <div class="d-flex flex-row">
                <app-audiotrack-edit-inputs
                    #editInputs
                    class="col-10"
                    *ngIf="audioTrack.mode === 'edit' || audioTrack.mode === 'workbench_edit'"
                    [audio-track]="audioTrack"
                    (inputsValidityChanged)="onFormValidityChanged($event)">
                </app-audiotrack-edit-inputs>
                <app-audiotrack-view-inputs
                        class="col-10"
                        *ngIf="audioTrack.mode === 'view' || audioTrack.mode === 'workbench_view'"
                        [audio-track]="audioTrack"
                        [searchQuery]="searchQuery">
                </app-audiotrack-view-inputs>
                <app-audiotrack-mode-buttons [audio-track]="audioTrack"
                                             [show-revert]="inputsChanged"
                                             (onSave)="saveAudioTrack()">
                </app-audiotrack-mode-buttons>
            </div>
            <app-audiotrack-edit-controls *ngFor="let version of audioTrack.versions; let i = index"
                                          [audio-track]="audioTrack"
                                          [version]="version"
                                          [round]="round"
                                          (modeChange)="onVersionModeChange($event, i)"
                                          (selectedChange)="onSelectedChange($event, i)"
                                          (onDeleteVersion)="handleDeleteVersion($event)"
                                          (onCancelChanges)="setPreviousValues($event, i)"
                                          (onDraftVersionAdded)="addDraftVersion($event)"
            ></app-audiotrack-edit-controls>
        </div>
    </mat-card-content>
</mat-card>
<br>