<mat-card class="mat-elevation-z8">
    <mat-card-content>
        <div class="controls-container d-flex flex-row justify-content-between">
            <div class="d-flex flex-column editable-fields col-11">
                <app-audiotrack-edit-inputs
                        #editInputs
                        *ngIf="audioTrack.mode === 'edit'"
                        [audio-track]="audioTrack"
                        (inputsValidityChanged)="onFormValidityChanged($event)">
                </app-audiotrack-edit-inputs>
                <app-audiotrack-view-inputs
                        class="d-flex flex-row justify-content-center align-items-center"
                        *ngIf="audioTrack.mode === 'view'"
                        [audio-track]="audioTrack">
                </app-audiotrack-view-inputs>
                <app-audiotrack-edit-controls [audio-track]="audioTrack"></app-audiotrack-edit-controls>
            </div>
            <div class="menu-buttons-container d-flex flex-column align-items-center px-3 col-1" >
                <button mat-mini-fab class="m-2 panel-button"
                        (click)="delete()"
                        color="primary"
                        matTooltip="Delete track from workbench">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="audioTrack.mode === 'view'"
                        mat-mini-fab class="m-2 panel-button"
                        (click)="setMode('edit')"
                        matTooltip="Edit draft">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="audioTrack.mode === 'edit' && audioTrack?.inputsAreValid"
                        mat-mini-fab class="m-2 done-all panel-button"
                        (click)="setMode('view')"
                        matTooltip="Save draft">
                    <mat-icon>done</mat-icon>
                </button>
                <button *ngIf="audioTrack.mode === 'edit'  && !audioTrack?.inputsAreValid"
                        matTooltip="Fill all field properly to be able to save track"
                        mat-mini-fab class="m-2 warning panel-button"
                        color="warn">
                    <mat-icon>warning</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>