<mat-card class="mat-elevation-z8">
    <mat-card-content>
        <div class="controls-container d-flex flex-row justify-content-between">
            <div class="d-flex flex-column editable-fields col-11">
                <app-audiotrack-edit-inputs
                        #editInputs
                        *ngIf="mode === 'edit'"
                        [audio-track]="audioTrack">
                </app-audiotrack-edit-inputs>
                <app-audiotrack-view-inputs
                        class="d-flex flex-row justify-content-center align-items-center"
                        *ngIf="mode === 'view'"
                        [audio-track]="audioTrack">
                </app-audiotrack-view-inputs>
                <app-audiotrack-edit-controls [audio-track]="audioTrack" [mode]="mode"></app-audiotrack-edit-controls>
            </div>
            <div class="menu-buttons-container d-flex flex-column align-items-center px-3 col-1" >
                <button mat-mini-fab class="m-2 panel-button" (click)="delete()" color="primary"  aria-label="Delete track from workbench">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="mode === 'view'"
                        mat-mini-fab class="m-2 panel-button"
                        (click)="mode = 'edit'"
                        aria-label="Edit draft">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="mode === 'edit' && inputsAreValid()"
                        mat-mini-fab class="m-2 done-all panel-button"
                        (click)="mode = 'view'"
                        aria-label="Save draft">
                    <mat-icon>done</mat-icon>
                </button>
                <button *ngIf="mode === 'edit' && !inputsAreValid()"
                        aria-label="Fill all field properly to be able to save track"
                        mat-mini-fab class="m-2 warning panel-button"
                        disabled>
                    <mat-icon>warning</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>