<button mat-raised-button
        color="accent"
        (click)="backToBlankSetList()"
        class="close-button">
    <mat-icon class="navigate-back-button">arrow_back_ios</mat-icon>
    Back to blanks set list
</button>
<div *ngIf="blankSet" class="rounds-tabs mt-5">
    <mat-tab-group>
        <mat-tab *ngFor="let roundBlankSet of blankSet.roundBlankSets; let i = index">
            <ng-template mat-tab-label>
                <div class="tab-label-content">
                    <span class="round-name-label">{{ roundBlankSet.round.name}}</span>
                </div>
            </ng-template>
            <app-round-blank-set [roundBlankSet]="roundBlankSet"></app-round-blank-set>
        </mat-tab>
    </mat-tab-group>
</div>