<div #resizeBox cdkDrag class="selection-rectangle" [ngStyle]="basicStyle" [ngClass]="{'selected': selected}"
     (cdkDragEnded)="endDragBatya(resizeBox, $event)"
     (cdkDragMoved)="moveSmoothly(resizeBox, $event)"
>
    <span #dragHandleCorner class="dragHandle corner" cdkDrag (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span>
    <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag (cdkDragMoved)="dragMove(dragHandleRight, $event)"></span>
    <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag (cdkDragMoved)="dragMove(dragHandleBottom, $event)"></span>
    <span class="full" style="width: 100%;">{{area.backgroundAreaType}} bounds</span>
    <span #textContainer class="text-container"
          [style.font-family]="area.font"
          [style.font-size.px]="area.fontSize"
          [style.margin-top.px]="(area.height - area.fontSize)/2"
    >{{getSampleText(area.backgroundAreaType)}}</span>
</div>