mat-card {
  font-size: 28px;

  &:hover {
    background-color: rgba(244, 67, 54, 0.4);
    cursor: pointer;
  }

  &.selected {
    background-color: rgba(244, 67, 54, 1);
  }
}

.animated-bg {
  width: 100%;
  background-size: cover;
  animation: blink 2s infinite;

  &:hover {
    box-shadow: 0 0 9px 6px rgba(244, 67, 54, 0.4);
    cursor: pointer;
  }

  &.selected {
    box-shadow: 0 0 9px 6px rgba(244, 67, 54, 1);
  }
}

@keyframes blink {
  0%, 100% {
    background-color: #464646;
  }
  50% {
    background: linear-gradient(90deg, #095c79 var(--nextProgress, 0%), #464646 var(--nextProgress, 0%));
  }
}