<mat-card class="mat-elevation-z8 m-1 p-3"
          [ngClass]="{'selected': blank === clickedBlank}"
          (mouseenter)="setCurrentBlank()"
          (mouseleave)="clearCurrentBlank()"
          (click)="setClickedBlank()">
    {{blank.number}}
    <div class="background d-flex flex-row justify-content-start">
        <div *ngIf="currentProgress < 100" class="current-progress"></div>
        <div *ngIf="currentProgress < 100" class="next-progress"></div>
        <div *ngIf="currentProgress >= 100" class="winning"></div>
    </div>
</mat-card>