<mat-list >
    <mat-list-item *ngIf="isAuthorized()" class="d-flex flex-row">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
    </mat-list-item>
    <mat-list-item *ngIf="isAuthorized()" routerLink="/audio-library">
        <mat-icon matListItemIcon>library_music</mat-icon>
        Music Library
    </mat-list-item>
    <mat-list-item *ngIf="isAuthorized() && isAdmin" routerLink="/audio-library">
        <mat-icon matListItemIcon>group</mat-icon>
        Users
    </mat-list-item>
    <mat-list-item *ngIf="isAuthorized()" routerLink="/audio-library">
        <mat-icon matListItemIcon>settings</mat-icon>
        Settings
    </mat-list-item>
</mat-list>