<div class="container mat-elevation-z8 m-1"
     [ngClass]="{'with-round-button': isSelectRelated(), 'without-round-button': !isSelectRelated()}">
    <div class="overlay" *ngIf="mode === 'selected'"></div>
    <div class="range-slider-and-buttons d-flex flex-row justify-content-start align-items-center">
        <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="d-flex flex-row justify-content-center align-items-center" *ngIf="trackIsLoading">
                <mat-spinner></mat-spinner>
                <div class="load-percentage">{{loadPercents}}%</div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center" *ngIf="!trackIsLoading">
                <button mat-button class="play-control-button" (click)="play()" *ngIf="!(currentVersionIsPlaying)">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button mat-button class="play-control-button" (click)="pause()" *ngIf="currentVersionIsPlaying">
                    <mat-icon>pause</mat-icon>
                </button>
                <button mat-button class="play-control-button" (click)="stop()">
                    <mat-icon>stop</mat-icon>
                </button>
            </div>
            <button mat-button class="play-control-button" (click)="replay5()">
                <mat-icon>replay_5</mat-icon>
            </button>
            <button mat-button class="play-control-button" (click)="forward5()">
                <mat-icon>forward_5</mat-icon>
            </button>
        </div>
        <div class="d-flex flex-column justify-content-center slider-and-progress">
            <div class="current-progress">{{ getProgress() | async | timeFormat:'string' }}
                / {{ audioTrackVersion.endTime - audioTrackVersion.startTime | timeFormat:'string'}}
            </div>
            <app-range-slider #rangeSlider class="mx-1"
                              [audio-track]="audioTrack"
                              [version]="audioTrackVersion"
                              [mode]="mode">
            </app-range-slider>
        </div>

    </div>
    <div class="menu-buttons-container d-flex flex-row align-items-center">
        <button *ngIf="audioTrack.mode !== 'edit'"
                mat-mini-fab class="m-2 panel-button"
                (click)="delete()"
                color="primary"
                matTooltip="Delete track from workbench">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="audioTrack.mode === 'edit'"
                mat-mini-fab class="m-2 panel-button"
                (click)="cancel()"
                color="primary"
                matTooltip="Discard changes">
            <mat-icon>undo</mat-icon>
        </button>
        <button *ngIf="audioTrack.mode !== 'edit'"
                mat-mini-fab class="m-2 panel-button"
                (click)="setMode('edit')"
                matTooltip="Edit draft">
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="audioTrack.mode === 'edit' && audioTrack?.inputsAreValid"
                mat-mini-fab class="m-2 done-all panel-button"
                (click)="setMode('view')"
                matTooltip="Save draft">
            <mat-icon>done</mat-icon>
        </button>
        <button *ngIf="audioTrack.mode === 'edit'  && !audioTrack?.inputsAreValid"
                matTooltip="Fill all field properly to be able to save track"
                mat-mini-fab class="m-2 warning panel-button"
                color="warn">
            <mat-icon>warning</mat-icon>
        </button>
    </div>
    <button mat-icon-button
            *ngIf="mode === 'select'"
            class="round-toggle add-to-round col-1"
            matTooltip="Add audio track to round playlist"
            (click)="addAudioTrackToRoundTable()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="mode === 'selected'"
            class="round-toggle remove-from-round col-1"
            matTooltip="Revoke audio track from round playlist"
            (click)="removeAudioTrackFromRoundTable()">
        <mat-icon class="revoke-from-playlist-icon">arrow_back_ios</mat-icon>
    </button>
</div>
