.container {
  width: 100%;
}

.range-slider-and-buttons {
  width: 100%;
}
app-range-slider {
  width: 100%;
}

.play-control-button {
  min-width: 30px;

  mat-icon {
    transform: scale(1.5);
    margin-right: 0;
  }

}

.current-progress {
  position: relative;
  top: 12px;

  color: white;
  font-size: 13px;
  margin-left: 10px;
  min-width: 110px;
  text-align: center;
}

::ng-deep .mat-mdc-progress-spinner {
  width: 30px !important;
  height: 30px !important;
}

.load-percentage {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  color: #F4CA16;
  .white-icon svg {
    fill: #F4CA16;
  }
}

.tooltip-enabled-button {
  pointer-events: auto !important;
}

.panel-button {
  max-width: 30px;
  max-height: 30px;
}

.slider-and-progress {
  width: 95%;
}

app-range-slider {
  position: relative;
  bottom: 2px;
}

