.container {
  width: 100%;
}

.range-slider-and-buttons {
  width: 100%;
}
app-range-slider {
  width: 100%;
}

.play-control-button {
  min-width: 30px;

  mat-icon {
    transform: scale(1.5);
    margin-right: 0;
  }

}

.current-progress {
  color: white;
  font-size: 13px;
  margin-left: 10px;
  min-width: 110px;
}

