/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav-container {
    flex: 1;
}

.dark-backdrop {
    background: rgba(0, 0, 0, 0.8);
}


.mat-drawer-content {
    overflow: hidden !important;
}

snack-bar-container {
    background: #424242 !important;
}
