/*mat-form-field.time {
  width: 70px;
}*/

.library-cards {
  max-height: 80vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2185b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c92563;
}

#container {
  margin: 15px;
}

.close-button {
  transform: scale(0.8);
}