mat-form-field.time {
  width: 70px;
}

.library-cards {
  max-height: 80vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px grey;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2185b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c92563;
}