<div id="container" *ngIf="data" class="p-1">
    <div mat-dialog-title class="d-flex flex-row justify-content-between">
        <h2 >Add your audio to library</h2>
        <button mat-icon-button
                (click)="openConfirmationDialog()"
                class="close-button"
                matTooltip="Discard all changes and exit">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="library-cards p-1" mat-dialog-content>
        <app-audio-controls *ngFor="let audiotrack of audioTracks"
                            [audio-track]="audiotrack"
                            [mode]="'workbench_edit'"
                            (onDelete)="deleteFromWorkbench($event)"
                            (onModeChange)="checkAllAudioTracksConfirmed()">
        </app-audio-controls>
    </div>
    <div class="footer d-flex m-1 flex-row justify-content-between" mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="addToLibrary()" [disabled]="!allTracksAreConfirmed">Add to library</button>
        <app-volume-slider class="d-flex align-items-center"></app-volume-slider>
    </div>
</div>
