<div class="d-flex flex-column container">
    <mat-dialog-actions class="p-1 d-flex justify-content-end">
        <button mat-icon-button
                (click)="openConfirmationDialog()"
                class="close-button"
                matTooltip="Discard all changes and exit">
            <mat-icon>close</mat-icon>
        </button>
    </mat-dialog-actions>
    <div class="d-flex flex-row px-5 library-and-table-wrapper">
        <app-library [round]="round" (versionSelected)="onVersionSelected($event)"></app-library>
        <app-round-playlist [round]="round"></app-round-playlist>
    </div>
    <mat-dialog-actions class="footer">
        <button mat-raised-button color="primary" (click)="saveRoundTracks()">Confirm</button>
    </mat-dialog-actions>
</div>
