app-round-playlist {
    width: 100%;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

app-library {
    width: 136%;
    ::ng-deep .content-accordion {
        height: 70vh;
    }
}

.popup-control-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    max-height: 0;
}

.close-button {
    transform: scale(0.8);
}

.container {
    height: 90vh;
}

mat-dialog-actions {
    position: static;
    bottom: 0;
    padding: 15px;
}
