<div class="d-flex flex-column">
    <div class="popup-control-container">
        <button mat-icon-button
                (click)="openConfirmationDialog()"
                class="close-button"
                matTooltip="Discard all changes and exit">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="d-flex flex-row p-5">
        <app-library [mode]="'select'"></app-library>
        <app-round-playlist [round]="round"></app-round-playlist>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="saveRoundTracks()">Save</button>
    </mat-dialog-actions>
</div>
